<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.cs">
    <title>MovieDB</title>
</head>

<body>
    <h1>MovieDB website</h1>
    <% data.Search.forEach((movie)=> { %>
        <div>
            <h3>
                <%=movie.Title%>
            </h3>
            <a href=<%=movie.Poster %>`>Poster Link</a>
        </div>
        <% }) %>
</body>

</html>